.not-found{
    margin-top: 200px;
    min-height: 400px;
}

.not-found .box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.not-found .box .image{
    margin-left: 20px;
    width: 70px;
}

.not-found .box .desc{
    font-size: 20px;
}

.not-found .box {
    flex-direction: column;
    text-align: center;
}

.not-found .box .image {
    margin-left: 0;
    margin-bottom: 20px;
}

.not-found .box .desc {
    font-size: 16px ;
    line-height: 2;
}